.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
}

.header-title {
    font-size: 45px;
    font-weight: 600;
}

.header-text {
    font-size: 20px;
}

.header-info {
    width: 40%;
    max-width: 600px;
}

.header-img-container {
    width: 40%;
    text-align: center;
}

.header-img {
    width: 100%;
    min-width: 290px;
    max-width: 800px;
}

.phone {
    text-align: center;
    margin: 50px 0 50px 0;
    padding: 10px;
    color: white;
    background-color: black;
}

.number {
    color: white;
}

.line {
    border-bottom: 1px solid white;
    width: 75%;
    margin: 10px auto;
}

.line2 {
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 75%;
    margin: 10px auto;
}

.our-services-title {
    text-align: center;
    font-weight: 600;
    font-size: 50px;
}

.our-services-subtitle {
    text-align: center;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 50px;
}

.services {
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgb(195, 205, 212);
}

.service-img {
    width: 100%;
    max-width: 200px;
}

.services h5 {
    font-weight: 600;
    color: rgb(90, 90, 90);
}

.servicing-container {
    text-align: center;
    width: 80%;
    margin: 60px auto;
}

.servicing-img {
    width: 100%;
    max-width: 600px;

}

/* .axad-form {
    text-align: center;
    width: 100%;
}

.axad-form-title {
    font-size: 50px;
    font-weight: 600;
} */

.pest-form-title {
    text-align: center;
}

.pest-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 500px;
    gap: 10px;
    padding: 30px;
    min-width: 290px;
    margin: 0 auto;
}

.pest-form-inputs {
    padding: 12px;
    border-radius: 20px;
    border: 1px solid black;
}

.form-btn {
    padding: 8px;
    border-radius: 15px;
    border: 1px solid black;
    background-color: rgb(80, 126, 194);
    color: white;
    font-weight: 600;
}

.form-btn:hover {
    background-color: rgb(64, 64, 233);
}

.line {
    border-bottom: 1px solid black;
}

.pest-man-bg {
    background-image: url('./background-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}

.pest-man-container {
    display: flex;
    align-items: center;
    width: 70%;
    max-width: 1200px;
    gap: 30px;
    margin: 50px auto;
}

.pest-man-img-container {
    width: 50%;;
}

.pest-man {
    width: 100%;
}

.pest-man-info {
    width: 50%;
}

.pest-man-info h4 {
    font-weight: 600;
}

@media screen and (max-width: 1000px) {
    .header {
        display: block;
        text-align: center;
    }

    .header-info {
        width: 80%;
        min-width: 290px;
        margin: 30px auto;
    }

    .header-img-container {
        width: 80%;
        min-width: 290px;
        margin: 30px auto;
    }

    .services-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .pest-man-container {
        display: block;
        text-align: center;
        width: 90%;
    }

    .pest-man-img-container {
        margin: 20px auto;
        width: 90%;
    }

    .pest-man-info {
        margin: 20px auto;
        width: 90%;
    }

}

@media screen and (max-width: 600px) {
    .services-container {
        grid-template-columns: repeat(1, 1fr);
    }
}